// Typography mixins.
@mixin typography-body {
  font-size: $font-size--md;
  font-family: $font-choice--base;
  font-weight: 400;
  line-height: $lineheight-default;
  color: rgba(black, .75);
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

@mixin typography-heading {
  font-family: $font-choice--heading;
  font-weight: 600;
  line-height: 1.2;
  padding: 0;
  margin: 0 0 .75em 0;
  color: mix(black, $color--primary, 25%);
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
}

@mixin typography-menu {
  @include typography-heading;
  font-weight: 400;
}

// Padding mixin, horizontal.
@mixin site-padding--horizontal {
  transition: $transition;
  padding-left: $spacing--horizontal;
  padding-right: $spacing--horizontal;

  @include breakpoint($sm) {
    padding-left: $spacing--horizontal--sm;
    padding-right: $spacing--horizontal--sm;
  }

  @include breakpoint($md) {
    padding-left: $spacing--horizontal--md;
    padding-right: $spacing--horizontal--md;
  }

  @include breakpoint($lg) {
    padding-left: $spacing--horizontal--lg;
    padding-right: $spacing--horizontal--lg;
  }

  @include breakpoint($xl) {
    padding-left: $spacing--horizontal--xl;
    padding-right: $spacing--horizontal--xl;
  }
}

// Margin mixin, horizontal.
@mixin site-margins--horizontal {
  transition: $transition;
  margin-left: $spacing--horizontal;
  margin-right: $spacing--horizontal;

  @include breakpoint($sm) {
    margin-left: $spacing--horizontal--sm;
    margin-right: $spacing--horizontal--sm;
  }

  @include breakpoint($md) {
    margin-left: $spacing--horizontal--md;
    margin-right: $spacing--horizontal--md;
  }

  @include breakpoint($lg) {
    margin-left: $spacing--horizontal--lg;
    margin-right: $spacing--horizontal--lg;
  }

  @include breakpoint($xl) {
    margin-left: $spacing--horizontal--xl;
    margin-right: $spacing--horizontal--xl;
  }
}

// Padding mixin, vertical.
@mixin module-padding--vertical($factor: .75) {
  transition: $transition;
  padding-top: $spacing--horizontal * $factor;
  padding-bottom: $spacing--horizontal * $factor;

  @include breakpoint($sm) {
    padding-top: $spacing--horizontal--sm * $factor;
    padding-bottom: $spacing--horizontal--sm * $factor;
  }

  @include breakpoint($md) {
    padding-top: $spacing--horizontal--md * $factor;
    padding-bottom: $spacing--horizontal--md * $factor;
  }

  @include breakpoint($lg) {
    padding-top: $spacing--horizontal--lg * $factor;
    padding-bottom: $spacing--horizontal--lg * $factor;
  }

  @include breakpoint($xl) {
    padding-top: $spacing--horizontal--xl * $factor;
    padding-bottom: $spacing--horizontal--xl * $factor;
  }
}

// Block mixins.
@mixin block--align-right {
  float: none;
  margin-left: 0;
  margin-right: 0;

  img {
    height: auto;
  }

  @include breakpoint($sm) {
    img {
      height: auto;
    }
  }

  @include breakpoint($md) {
    float: right;
    max-width: 50%;
    margin-left: 2em /*!rtl:end:ignore*/;
    margin-right: 0;

    img {
      height: auto;
    }
  }
}

@mixin block--align-left {
  float: none;
  margin-left: 0;
  margin-right: 0;

  img {
    height: auto;
  }

  @include breakpoint($sm) {
    img {
      height: auto;
    }
  }

  @include breakpoint($md) {
    float: left;
    max-width: 50%;
    margin-left: 0;
    margin-right: 2em /*!rtl:end:ignore*/;

    img {
      height: auto;
    }
  }
}

// img align mixins.
@mixin img--inline {
  float: none;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  max-width: 67%;
  display: block;
  margin-bottom: 1em;
}

@mixin img--align-right {
  @include img--inline;

  @include breakpoint($md) {
    float: right;
    max-width: 50%;
    margin-left: 2em /*!rtl:end:ignore*/;
    margin-right: 0;
    height: auto;
  }
}

@mixin img--align-left {
  @include img--inline;

  @include breakpoint($md) {
    float: left;
    max-width: 50%;
    margin-left: 0;
    margin-right: 2em /*!rtl:end:ignore*/;
    height: auto;
  }
}

@mixin bb-column {

}

@mixin bb-column-cell {

}

@mixin white-text-module {

  h1, h2, h3, p {
    color: #FFF;
  }
}

@mixin bg-overlay($opacity: .4) {
  background-color: rgba($color--black, $opacity);
}

@mixin bg-underlay($opacity: 1.0) {
  background-color: rgba($color--black, $opacity);
}
