section.container .bb-module--four-column-icons {

  .cols {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2%;
  }

  .col {
    flex: none;
    min-width: 60%;
    max-width: 100%;
    margin-bottom: 4%;

    @include breakpoint($sm) {
      margin-right: 2%;
      min-width: 39%;
      max-width: 39%;
      margin-bottom: 0;
    }

    @include breakpoint($md) {
      min-width: 22%;
      max-width: 23%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .col-icon {
    width: 100%;
    margin: 0 0 1em;

    img {
      width: 25%;
      height: auto;
      padding: 0;
      display: block;
    }
  }

  .bodytext {
    margin-bottom: 1em;
  }

  .bodytext p {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul.links {
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: none;

    li {
      padding: 0;
      margin: 0 0 .25em 0;
      font-size: .9em;
      line-height: 1.3;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
