.fl-builder-content {
  margin-top: 0;
}

body.fl-builder .subnav-wrapper {
  margin-bottom: $gap-between-modules;
}

// Beaver builder inner row.
// Forces BB "Advanced" adjustments override.
.fl-row-content-wrap {
  padding: 0 !important;
  margin: 0 !important;
}

// Overall module overrides to enforce full bleed.
// Forces BB "Advanced" adjustments override.
.fl-module-content {
  padding: 0 !important;
  margin: 0 !important;
}

.bb-module {
  @include site-padding--horizontal;
  margin-bottom: 0;

  &.full-bleed {
    padding-left: 0;
    padding-right: 0;
  }
}

.fl-module {
  margin-bottom: 1rem;
}

.fl-row-content > .fl-col-group > .fl-col > .fl-col-content > .fl-module {
  margin-bottom: $gap-between-modules;
}

.fl-module {

  min-height: 50px;

  .title {
    margin: 0 0 .75em;
  }

  .subtitle {
    margin: 0 0 .5em;
  }

  .bodytext {
    font-size: .825em;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.bb-module .module-header p {
  margin-bottom: .5em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.module-header {
  margin-bottom: 1.5em;
}

section.container > article > .row,
section.container > .page-heading > .row {
  max-width: 100%;
}

section.container > article > .row > .columns > h1.page-title {
  @include site-margins--horizontal;

  margin-bottom: $gap-between-modules;
}

#fl-field-max_content_width {
  display: none !important;

  .fl-col-group {
    @include site-padding--horizontal;
  }
}

.fl-row-fixed-width {
  max-width: $max-site-width !important;
  padding: 0;
  margin: 0 auto;
}

// First level col groups
.fl-row-content > .fl-col-group.standard-col-group {
  @include site-padding--horizontal;
}

.fl-col-group.multiple {
  display: flex;
  margin-right: -1rem;

  > .fl-col {
    margin-right: 1rem;
  }

  .fl-row-content > & {
    margin-right: -2rem;

    > .fl-col {
      margin-right: 2rem;
    }
  }
}

  // Beaver Builder outer row.
.fl-row-full-width {
  width: 100% !important;
  padding: 0;
  margin: 0 auto;
}

.custom-col-group .standard-module {
  @include site-padding--horizontal;
}

.image-with-overlay > img,
.image-with-overlay > video {
  position: relative;
  z-index: 500;
  opacity: 0.8;
}

.bg-overlay {
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
}

.bg-underlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 1.0;
}
