section.container .bb-module--two-columns-with-photos {

  .col-first {
    margin-bottom: 2.5em;
  }

  @include breakpoint($md) {
    .cols {
      display: flex;
      margin-right: -2.5em;

      .col {
        flex: 1;
        margin-bottom: 0;
        margin-right: 2.5em;
      }
    }
  }

  .image {
    margin-bottom: 2em;
  }

  .text {

    h2 {
      margin-bottom: .625em;
    }

    h3 {
      line-height: 1.4;
      margin-bottom: .5em;
    }

    p {
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }


}
