section.container .bb-module--photo-with-text {
  position: relative;
  overflow: hidden;
}

.photo-with-text--image {
  margin-bottom: 1.25em;
  z-index: 100;

  > .bg-underlay {
    z-index: 100;
  }

  > img {
    z-index: 200;
    position: relative;
  }

  > .bg-overlay {
    z-index: 300;
  }
}

.bb-module--photo-with-text.image-only {
  display: block;

  .photo-with-text--image {
    margin: 0;
    flex: none;
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.bb-module--photo-with-text.image-behind {

  .photo-with-text--image {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .photo-with-text--text {
    @include site-padding--horizontal;
    @include module-padding--vertical;
    @include white-text-module;

    position: relative;
  }
}

@include breakpoint($md) {

  .bb-module--photo-with-text.image-left,
  .bb-module--photo-with-text.image-right {
    margin-right: -2em;

    .photo-with-text--image,
    .photo-with-text--text {
      margin-bottom: 0;
      flex: none;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .bb-module--photo-with-text.image-left {
    display: flex;

    .photo-with-text--image {
      margin-right: 2em;
      flex: 1;
    }

    .photo-with-text--text {
      margin-right: 2em;
      flex: 1;
    }
  }

  .bb-module--photo-with-text.image-right {
    display: flex;

    .photo-with-text--text {
      margin-right: 2em;
      flex: 1;
    }

    .photo-with-text--image {
      margin-right: 2em;
      flex: 1;
    }
  }
}

.image--photo-with-text {
  position: relative;
  z-index: 0;

  .image-behind & {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.fl-module h1.title--photo-with-text {
  margin: 0;
}

.photo-with-text--text {
  position: relative;
  z-index: 200;

  > * {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
