.bb-module--video-banner {
  position: relative;
}

.video-banner--video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  z-index: 200;

  .has-text & {
    position: absolute;
    padding: 0;
    height: 100%;
    z-index: 200;

    .bg-overlay {
      z-index: 300;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.3;
    }

    .bg-underlay {
      z-index: 100;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 1.0;
    }
  }
}

.video-banner--video-container {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .has-text & {
    z-index: 200;
    opacity: 0.825;
  }
}

.video-banner--text-wrapper {
  @include site-padding--horizontal;
  @include module-padding--vertical(1.25);
  @include white-text-module;

  z-index: 500;
  position: relative;

  > * {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
