section.container .bb-module--recent-posts {

  .news-items {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2%;
  }

  .news-item {
    flex: 1;
    margin-right: 2%;
    min-width: 60%;
    margin-bottom: 4%;

    @include breakpoint($sm) {
      min-width: 39%;
    }

    @include breakpoint($md) {
      min-width: 20%;
      margin-bottom: 0;
    }
  }

  .news-item--image {
    width: 100%;
    margin: 0 0 .75em;

    img {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      display: block;
    }
  }

  .news-item--text {
    font-size: .75em;
  }

  .news-item--date {
    font-family: proxima_nova;
    font-size: 0.85em;
    margin: 0 0 .625em;
    font-style: italic;
  }

  .news-item--title {
    font-size: 1.125em;
    margin: 0 0 .625em;
  }

  .news-item--excerpt {
    margin: 0 0 .625em;
  }

  .news-item--more {
    font-family: proxima_nova_bold;
    font-family: "corbert_bold", sans-serif;
  }

}
