section.container .bb-featured-projects {
  display: flex;
  flex-direction: column;

  @include breakpoint($md) {
    flex-direction: row;
  }
}

.bb-featured-project {
  flex: 1;
  position: relative;
}

.bb-featured-project-image {
  position: relative;
  display: flex;
  z-index: 500;

  .inner {
    width: 100%;
    height: 100%;
    background-color: pink;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.bb-featured-project-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1em;
  font-size: 3.5vw;
  z-index: 1000;

  h3 {
    @extend h1;
    font-size: 2em;
  }

  h3, h4, p {
    color: white;
    text-shadow: .2em .2em .3em rgba(black, .25);
  }

  @include breakpoint($md) {
    font-size: .75em;
  }

  @include breakpoint($lg) {
    font-size: 1em;
  }
}

.cta--bb-featured-project {
  position: absolute;
  bottom: 0;
  right: 0;
}
