.bb-module--projects-by-category {

  .icon {
    width: 2.75em;
    height: 2.75em;
    margin-top: 3em;
    margin-bottom: 1em;
  }

  h1.title {
    font-size: 1.625em;
    line-height: 1.2em;
    margin-bottom: .125em;
  }
  h2.subtitle {
    font-size: 1em;
    margin-bottom: .5em;
  }
  div.bodytext {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.cols--projects-by-category {
  display: flex;

  .col {
    &--first {
      flex: none;
      width: 22%;
      margin-right: 2.75%;
    }

    &--second {
      flex: none;
      width: 48%;
      margin-right: 2.75%;
    }

    &--third {
      margin-top: 8.9em;
      flex: 1;
    }
  }
}

ul.projects {
  font-size: .825em;
  margin-left: 1.2em;
  margin-bottom: 0;

  li.project {
    margin-bottom: .25em;
  }
}
