section.container .bb-module--four-column-hover {

  .cols {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2%;

    .col {
      flex: 1;
      margin-right: 2%;
      min-width: 60%;
      margin-bottom: 4%;
      position: relative;

      @include breakpoint($sm) {
        min-width: 39%;
      }

      @include breakpoint($md) {
        min-width: 20%;
        margin-bottom: 0;
      }
    }
  }

  .image {
    position: relative;
  }

  .text {
    position: absolute;
    bottom: 0;
    background-color: rgba(black, .5);
    padding: 1em;
    cursor: default;
    width: 100%;

    .subtitle {
      color: white;
      margin-bottom: 0;
      font-size: 1.125em;
      cursor: default;
    }

    .bodytext {
      color: white;
      cursor: default;

      > * {
        font-size: .95em;
      }

      > *:first-child {
        padding-top: .625em;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include breakpoint($md) {

    .col .bodytext {
      opacity: 0;
      max-height: 0;
    }

    .col:hover .bodytext {
      opacity: 1;
      max-height: 100vh;
    }
  }
}
