p {
  font-size: 1.0em;
  line-height: 1.35;
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "corbert_bold", sans-serif;
  line-height: $lineheight-headings;
  padding: 0;
  margin: 0 0 .25em 0;
}

h1 {
  font-family: "corbert_light", sans-serif;
  font-size: 2.125em;

  &.page-title {
    @include site-margins--horizontal;
    margin-bottom: 1.5rem;
  }
}

h2 {
  font-size: 1.5em;
  margin-bottom: .625em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.0em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.75em;
}

ul {
  list-style-image: none;
  margin-left: 1.25em;
  margin-bottom: 1.5em;

  li {
    padding-left: 0;
    margin-bottom: .5em;
  }
}
