html {
  font-size: 17px;
}

body {
  font-size: 1em;
  line-height: 1.35;
}

p {
  font-size: 1.063em; // 17px
  line-height: 1.35;
}

h1 {
  font-family: "corbert_light", sans-serif;
  font-size: 2.813em; // 45px
  line-height: $lineheight-headings; // 60px
  color: #232325;
}

h2 {
  font-family: "corbert_bold", sans-serif;
  font-size: 1.5em; // 24px
  line-height: $lineheight-headings; // 34px
  color: #ff6800;
}

h3 {
  font-family: "corbert_bold", sans-serif;
  font-size: 1.375em; // 22px
  line-height: $lineheight-headings; // 31px
  color: #232325;
}

h4 {
  font-family: "corbert_bold", sans-serif;
  font-size: 1.125em; // 18px
  line-height: $lineheight-headings; // 25px
  color: #007895;
}

h5 {
  font-family: "corbert_bold", sans-serif;
  font-size: 1.875em; // 30px
  line-height: $lineheight-headings; // 41px
  color: #ff6800;
}

h6 {
  font-family: "corbert_bold", sans-serif;
  font-size: 1.188em; // 19px
  line-height: $lineheight-headings; // 27px
  color: #2c4e60;
}
