// Overall Page Layout
.top-bar-container {
  position: relative;
  z-index: 100;

  // When we are in Beaver Builder edit mode, we need to be at the same z level as the main container section.
  .fl-builder-edit & {
    z-index: 50;
  }
}

section.container {
  position: relative;
  z-index: 50;
}

footer.section--site-footer {
  position: relative;
  z-index: 90;
}

.region-inner {
  display: flex;
  width: 100%;
  height: 100%;
}

.page-heading {
  @include site-padding--horizontal;

  padding-top: 2em;
  padding-bottom: 2em;
  min-height: auto;

  h1.title {
    margin: 0;
  }

  .columns {
    padding: 0;
  }
}

article {

  // Enforcing full bleed forever.
  .row.page-content {
    max-width: 100%;
  }

  .columns {
    padding: 0;
  }
}
