a[href="#fl-builder-settings-tab-advanced"] {
    display:none;
}

button.fl-button-group-field-option {
    margin: 0;
    line-height: 1.2;
    padding: 0 10px;
    height: auto;
    border: 0;
    color: #444;
    background-color: #ccc;
}

button.fl-button-group-field-option:hover {
    border: 0;
    color: #000;
    background-color: #dedede;
}

button.fl-button-group-field-option:focus {
    border: 0;
    color: #000;
    background-color: #eee;
}

button.fl-button-group-field-option[data-selected="1"] {
    border: 0;
    color: #000;
    background-color: #fff;
}

button.fl-button-group-field-option[data-selected="1"]:hover {
    border: 0;
    color: #000;
    background-color: #fff;
}

.fl-photo-field .fl-photo-preview .fl-photo-preview-controls select[name="image_src"] {
    display: none;
}
